body{
    padding: 0;
    margin: 0;
    background-color:  #f6f7ff;
}

.h1{
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-top: 70px;
}

#signup{
    padding: 20px;
    /* border: 1px solid red; */
    margin: auto;
    width: 30%;
    margin-top: 35px;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;

}
.h2{
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

form{
    display: flex;
    flex-direction: column;
    /* padding: 15px; */
}

form>label{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-bottom: 8px;
    margin-left: 22px;
}

form>input{
    margin-bottom: 20px;
    padding: 12px;
    border-radius: 10px;
    border:none;
    font-size: 17px;
    width: 82%;
    margin-left: 20px;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
}

#btn{
    background-color: #1a56db;
    /* margin-left: 30px; */
    width: 88%;
    color: white;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#btn:hover{
    cursor: pointer;

}




/* Media Query For Large Screen */
@media screen and (min-width:768px) and (max-width:1026px) {

    #signup{
        width: 35%;
    }
    .h1{
        margin-top: 0;
    }
    
}



/* Media Query For Medium Screen */
@media screen and (min-width:450px) and (max-width:767px) {
    #signup{
        width: 55%;
    }
    .h1{
        margin-top: 0;
    }
    
}



/* Media Query For Low Screen */
@media screen and (min-width:150px) and (max-width:449px) {
    #signup{
        width: 75%;
        /* margin-top: 12px; */
    }

    .h1{
        margin-top: 0
    }
    
}